@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Bold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Bold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/otf/MonaspaceArgon-Bold.otf") format("opentype");
    font-style:   normal;
    font-stretch: normal;
    font-weight:  bold;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-BoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-BoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/otf/MonaspaceArgon-BoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: normal;
    font-weight:  bold;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/otf/MonaspaceArgon-ExtraBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: normal;
    font-weight:  800;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/otf/MonaspaceArgon-ExtraBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: normal;
    font-weight:  800;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraLight.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraLight.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/otf/MonaspaceArgon-ExtraLight.otf") format("opentype");
    font-style:   normal;
    font-stretch: normal;
    font-weight:  200;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraLightItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-ExtraLightItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-ExtraLightItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: normal;
    font-weight:  200;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Italic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Italic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-Italic.otf") format("opentype");
    font-style:   italic;
    font-stretch: normal;
    font-weight:  normal;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Light.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Light.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-Light.otf") format("opentype");
    font-style:   normal;
    font-stretch: normal;
    font-weight:  300;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-LightItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-LightItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-LightItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: normal;
    font-weight:  300;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Medium.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Medium.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-Medium.otf") format("opentype");
    font-style:   normal;
    font-stretch: normal;
    font-weight:  500;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-MediumItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-MediumItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-MediumItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: normal;
    font-weight:  500;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Regular.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-Regular.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-Regular.otf") format("opentype");
    font-style:   normal;
    font-stretch: normal;
    font-weight:  normal;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: normal;
    font-weight:  600;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: normal;
    font-weight:  600;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: semi-expanded;
    font-weight:  bold;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: semi-expanded;
    font-weight:  bold;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideExtraBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideExtraBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideExtraBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: semi-expanded;
    font-weight:  800;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideExtraBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideExtraBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideExtraBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: semi-expanded;
    font-weight:  800;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideExtraLight.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideExtraLight.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideExtraLight.otf") format("opentype");
    font-style:   normal;
    font-stretch: semi-expanded;
    font-weight:  200;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraLightItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraLightItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideExtraLightItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: semi-expanded;
    font-weight:  200;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: semi-expanded;
    font-weight:  normal;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideLight.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideLight.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideLight.otf") format("opentype");
    font-style:   normal;
    font-stretch: semi-expanded;
    font-weight:  300;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideLightItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideLightItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideLightItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: semi-expanded;
    font-weight:  300;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideMedium.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideMedium.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideMedium.otf") format("opentype");
    font-style:   normal;
    font-stretch: semi-expanded;
    font-weight:  500;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideMediumItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideMediumItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideMediumItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: semi-expanded;
    font-weight:  500;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideRegular.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideRegular.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideRegular.otf") format("opentype");
    font-style:   normal;
    font-stretch: semi-expanded;
    font-weight:  normal;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideSemiBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideSemiBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideSemiBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: semi-expanded;
    font-weight:  600;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideSemiBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-SemiWideSemiBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-SemiWideSemiBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: semi-expanded;
    font-weight:  600;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: expanded;
    font-weight:  bold;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: expanded;
    font-weight:  bold;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideExtraBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: expanded;
    font-weight:  bold;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideExtraBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: expanded;
    font-weight:  800;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraLight.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraLight.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideExtraLight.otf") format("opentype");
    font-style:   normal;
    font-stretch: expanded;
    font-weight:  200;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraLightItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideExtraLightItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideExtraLightItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: expanded;
    font-weight:  200;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: expanded;
    font-weight:  normal;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideLight.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideLight.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideLight.otf") format("opentype");
    font-style:   normal;
    font-stretch: expanded;
    font-weight:  300;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideLightItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideLightItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideLightItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: expanded;
    font-weight:  300;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideMedium.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideMedium.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideMedium.otf") format("opentype");
    font-style:   normal;
    font-stretch: expanded;
    font-weight:  500;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideMediumItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideMediumItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideMediumItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: expanded;
    font-weight:  500;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideRegular.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideRegular.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideRegular.otf") format("opentype");
    font-style:   normal;
    font-stretch: expanded;
    font-weight:  normal;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideSemiBold.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideSemiBold.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideSemiBold.otf") format("opentype");
    font-style:   normal;
    font-stretch: expanded;
    font-weight:  600;
}

@font-face {
    font-family:  "Monaspace Argon";
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideSemiBoldItalic.woff2") format("woff2");
    src:          url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceArgon-WideSemiBoldItalic.woff") format("woff"),
                  url("https://cdn.rawgit.com/githubnext/monaspace/main/fonts/oft/MonaspaceArgon-WideSemiBoldItalic.otf") format("opentype");
    font-style:   italic;
    font-stretch: expanded;
    font-weight:  600;
}
