.timeline {
    margin:   1rem;
    position: relative;
}

.timeline .lines {
    --lanes:  1;
    position: absolute;
    left:     50%;
    rotate:   180deg;
    top:      1rem;
    bottom:   6rem;
}

.timeline .center-line {
    width:      .5rem;
    background: var(--bg2);
    position:   absolute;
}

.timeline .exp-card {
    background: var(--bg1);
    color:      var(--fg1);
    height:     12rem;
    padding:    1rem 2rem;
    margin-top: 1rem;
    flex:       0 0 auto;
    width:      45%;
}

.timeline .exp-row {
}

.timeline .exp-row:nth-child(odd) {
    justify-content: flex-start;
}

.timeline .exp-row:nth-child(even) {
    justify-content: flex-end;
}


@media (max-width: 768px) {

    .timeline .lines {
        left:            calc(var(--lanes) * .5rem);
        justify-content: end;
    }

    .timeline .exp-card {
        margin-left: 2.5rem;
        width:       87%;
    }

    .timeline .exp-row:nth-child(n) {
        justify-content: start;
    }

}
