.timeline {
    margin:   1rem;
    padding:  2rem;
    position: relative;
}

.timeline .center-line {
    position:   absolute;
    height:     100%;
    width:      .3rem;
    background: var(--bg2);
    left:       50%;
    top:        1rem;
    bottom:     1rem;
    transform:  translateX(-50%);
}

.timeline .exp-card {
    background: var(--bg1);
    color:      var(--fg1);
    height:     10rem;
    padding:    .5rem 2rem;
    margin-top: 1rem;
    flex:       0 0 auto;
    width:      45%;
}

.timeline .exp-row {
}

.timeline .exp-row:nth-child(odd) {
    justify-content: flex-start;
}

.timeline .exp-row:nth-child(even) {
    justify-content: flex-end;
}


@media (max-width: 768px) {
    .timeline .center-line {
        left: .8rem;
    }

    .timeline .exp-card {
        margin-left: 2.5rem;
        width:       87%;
    }

    .timeline .exp-row:nth-child(n) {
        justify-content: start;
    }

}
