@import url("gruvbox.css");

:root {
    background-color: var(--bg);
    --root-transition: none;  /* Updated on page load. */
    transition:       var(--root-transition);
}

body {
    background-color: transparent !important;
}

#App {
    color:       var(--fg1);
    font-family: "Monaspace Argon";
}
#App h1 {
    font-family: "Monaspace Argon";
    font-style: italic;
}

#main-outlet {
    margin: 5rem 1rem;
}
