.logo {
    height: 2.5rem;
    width:  2.5rem;
}

#center-logo {
    flex: 1;
}

/* Brand */
.navbar-brand {
    width: 4rem;
    /* width: 10%; */
    height: 100%;
}

.light .logo,
.ligt .logo:active
{
    stroke: var(--gray-pri);
    fill:   #FABD2F;
}

.light .logo:hover {
    fill: none;
}

.dark .logo {
    stroke:   #FABD2F;
    fill: none;
}
.dark .logo:hover {
    fill:   #FABD2F;
}
