:root {
    --menu-title-pad: 1.5rem;
}

/* Light mode menu colors */
.light .fixed-navbar,
.light .navbar-nav {
    background-color: var(--bg0_h);
}

/* Dark mode menu colors */
.dark .fixed-navbar,
.dark .navbar-nav {
    background-color: var(--bg0_s);
}

div.navbar-nav > a.my-navlink.nav-link { /* gt bootstrap md size */
    margin-right:  3rem;
    padding:       0;
}

.title {
    flex:        1;
    margin-left: var(--menu-title-pad);
}

.navbar-toggler {
    margin-right: 1rem;
    color:        transparent !important;
    border-color: var(--fg4) !important;
}

/* .navbar-toggler-icon { */
/*     background-image: none; */
/*     background-color: var(--fg0); */
/*     mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
/* } */

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-image: var(--bs-navbar-toggler-icon-bg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


/* Shift items in nav when menu open and < to bootstrap md (768px) var(--bs-breakpoint-md does not work.*/
@media (max-width: 768px) {
    .navbar-collapse.collapsing > .navbar-nav > .my-navlink.nav-link,
    .navbar-collapse.collapse.show > .navbar-nav > .my-navlink.nav-link { /* gt bootstrap md size */
        margin-left: var(--menu-title-pad);
        height: inherit;
        transition: none;
    }
}

/* Link and Title Fonts */
.title,
.my-navlink.nav-link {
    font-family:   "3DIsometric-Regular", serif;
    font-size:     2.3rem;
    line-height:   1;
    margin-top:    .25rem;
    margin-bottom: .25rem;
}

.title,
.my-navlink.nav-link:hover,
.my-navlink.nav-link.active {
    font-family: "3DIsometric-Bold", serif;
}

/* Link an Title Colors */
.my-navlink.nav-link:hover * {
    color: var(--green-sec);
}

.title,
.my-navlink.nav-link:link *, .my-navlink.nav-link:visited * {
    color: var(--green-pri);
}

.title,
.my-navlink.nav-link:link.active *, .my-navlink.nav-link:visited.active * {
    color: var(--aqua-pri);
}

.my-navlink.nav-link:hover.active * {
    color: var(--aqua-sec);
}

/* Keep words from wrapping, letters are individual elements */
.title > div.row,
a.my-navlink > div.row {
    flex-wrap: nowrap;
}

.title > div.row > div.nav-letter,
a.my-navlink > div.row > div.nav-letter {
    flex-grow:  0;
    flex-basis: 0;
}

