:root {
    --menu-title-pad: 1.75rem;
}

.fixed-navbar {
    height: var(--nav-height);
}

/* Light mode menu colors */
.light .fixed-navbar {
    background-color: var(--bg1);
}

.light .navbar-collapse.collapsing > .navbar-nav,
.light .navbar-collapse.collapse.show > .navbar-nav { /* dark mode dropdown menu */
    background-color: var(--bg0_s);
}

/* Dark mode menu colors */
.dark .fixed-navbar {
    background-color: var(--bg0);
}

.dark .navbar-collapse.collapsing > .navbar-nav,
.dark .navbar-collapse.collapse.show > .navbar-nav { /* light mode dropdown menu */
    background-color: var(--bg0_s);
}

/* Navbar element padding */
.navbar-collapse.collapsing > .navbar-nav,
.navbar-collapse.collapse.show > .navbar-nav {
    margin-top: calc(var(--nav-height) - 3rem);
}

.navbar-collapse .navbar-nav .nav-link { /* leq bootstrap md */
    margin-left: 1.75rem;
}

div.navbar-nav > a.my-navlink.nav-link { /* gt bootstrap md size */
    padding-right: 2rem;
}

/* Title and Toggler Position fixed in nav when in lt/eq bootstrap md */
.navbar-toggler {
    position: fixed;
    right:    .25rem;
}

.title {
    position: fixed;
    left:     .25rem;
}

/* Link and Title Fonts */
.title,
.my-navlink.nav-link {
    font-family: "3DIsometric-Regular", serif;
    font-size:   2.3rem;
}

.title,
.my-navlink.nav-link:hover,
.my-navlink.nav-link.active {
    font-family: "3DIsometric-Bold", serif;
}

/* Link an Title Colors */
.my-navlink.nav-link:hover * {
    color: var(--green-sec);
}

.title,
.my-navlink.nav-link:link *, .my-navlink.nav-link:visited * {
    color: var(--green-pri);
}

.title,
.my-navlink.nav-link:link.active *, .my-navlink.nav-link:visited.active * {
    color: var(--aqua-pri);
}

.my-navlink.nav-link:hover.active * {
    color: var(--aqua-sec);
}

/* Keep words from wrapping, letters are individual elements */
.title > div.row,
a.my-navlink > div.row {
    flex-wrap: nowrap;
}

.title > div.nav-letter,
a.my-navlink > div.row > div.nav-letter {
    flex-grow:  0;
    flex-basis: 0;
}
