:root {
  color-scheme: light dark;
  --bg-color: light-dark(#F2E5BC, #282828);
  --fg-color: light-dark(#3C2836, #EBDBB2);
  --red-pri: #CC241D;
  --red-sec: light-dark(#9D0006, #FB4934);
  --green-pri: #98971A;
  --green-sec: light-dark(#79740E, #B8BB26);
  --yellow-pri: #D79921;
  --yellow-sec: light-dark(#B57614, #FABD2F);
  --blue-pri: #458588;
  --blue-sec: light-dark(#076678, #83A598);
  --purple-pri: #B16286;
  --purple-sec: light-dark(#8F3F71, #D3869B);
  --aqua-pri: #689D6A;
  --aqua-sec: light-dark(#427B58, #8EC07C);
  --orange-pri: #D65D0E;
  --orange-sec: light-dark(#AF3A03, #FE8019);
}

#main-outlet {
  margin: 1rem 3rem;
}

@font-face {
  font-family: '3DIsometric';
  src: local('3DIsometic'), url("./fonts/3DIsometric/3DIsometric.ttf") format('truetype');
}

* {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

body {
  padding-top: 3rem;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.navbar-toggler {
  stroke: var(--fg-color);
}

.title {
  font-family: '3DIsometric';
  font-size: 2.3rem;
}

.fixed-navbar {
  color: var(--fg-color);
  background-color: var(--bg-color);
  height: 4rem;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}