@import url("./css/gruvbox.css");

:root {
    background-color:        var(--bg);
    --nav-height:            3.6rem;
    --fixed-element-padding: .25rem;
}

.light#App,
.dark#App {
    color:            var(--fg1);
    background-color: var(--bg0);
}
